.wrapper {
    max-width: 70rem;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

}